.offcanvas{
  width: 40% !important;
}
.header{
  background-color: #39AEBC;
  height: 8%;
}
.offcanvas {
  z-index: 1050;
}

.offcanvas-body {
  overflow-y: auto;
}
.offcanvas-header{
  padding: 1.4% !important;
  background-color: #39AEBC;
  color: white;
}
.offcanvas-title{
  padding: 0.5% !important;
}
.saveSegment{
  background-color: #41B494 !important;
}
.invalid-segment{
  /* display: none; */
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}